body {
  background-color: #fefefe;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  color: #2c2c2c;
  margin: 0;
}

a {
  text-decoration: none;
  font-style: normal;
  color: inherit;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
  max-height: 100%;
}

button {
  padding: 0;
  cursor: pointer;
  font-family: inherit;
  color: inherit;
}

/* #region Header  */
.header {
  box-shadow: 0 4px 24px 0 rgba(105, 105, 105, 0.1);
  background-color: #fefefe;
}

.header .container {
  display: flex;
  align-items: center;
  /* padding: 0 16px; */
}

.container {
  max-width: 1248px;
  margin: 0 auto;
}

.logo-link {
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}
.nav {
  margin-right: 30px;
}
.nav-list {
  display: flex;
  gap: 28px;
  align-items: center;
}

.nav-link {
  font-weight: 400;
  font-size: 14px;
  padding-top: 28px;
  padding-bottom: 28px;
}

.nav-link.current {
  font-weight: 700;
  text-decoration: underline;
  color: #bbf330;
}
.header-btn,
.hero-btn {
  border-radius: 30px;
  padding: 6px 18px;
  min-width: 98px;
  background-color: #bbf330;
  border: none;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  text-align: right;
}

.header-btn:hover,
.header-btn:focus,
.hero-btn:hover,
.hero-btn:focus {
  background-color: #ffe450;
}

/* #endregion Header  */

/* #region Hero */

.hero {
  padding-top: 14px;
  padding-bottom: 14px;
  padding-right: 14px;
  margin-bottom: 55px;
}

.hero .container {
  display: flex;
}

.hero-content {
  padding: 145px 143px 150px 0;
}

.hero-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.2;
  max-width: 502px;
  text-transform: capitalize;
  margin-bottom: 28px;
}

.hero-text {
  font-weight: 400;
  font-size: 16px;
  max-width: 511px;
  margin-bottom: 40px;
}

.hero-img {
  border-radius: 50%;
  border: 26px solid #ffe550;
  background-color: #fefefe;
}

/* #endregion Hero */

/* #region Advantages */
.advantages {
  background-color: #ffe550;
  padding: 172px 16px 119px 16px;
}

.advantages .container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.img-container {
  min-width: 550px;
  min-height: 550px;
  margin-right: 90px;
  position: relative;
}

.apple {
  position: absolute;
  z-index: 1;
  left: 84px;
  bottom: 102px;
}

.ellipse {
  fill: #fefefe;
  position: absolute;
  top: 0;
  left: 0;
  padding: 19px;
  border: 5px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.shadow {
  position: absolute;
  left: 155px;
  bottom: 75px;
}

.advantages-title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.2;
  margin-bottom: 20px;
}
.advantages-text {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 40px;
}
.advantages-list {
  display: flex;
  gap: 67px;
  margin-bottom: 27px;
  justify-content: flex-start;
  align-items: center;
}
.advantages-list-item {
  max-width: 253px;
}

.icon-container {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #fefefe;
  margin-bottom: 8px;
}

.icon {
  fill: #7eb101;
}

.list-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  margin-bottom: 16px;
}
.list-text {
  font-weight: 400;
  font-size: 14px;
}
.order-btn {
  border: 2px solid #7eb101;
  border-radius: 30px;
  padding: 10px 20px;
  min-width: 106px;
  height: 40px;
  background-color: #fff;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
}

.order-btn:hover,
.order-btn:focus {
  background-color: #bbf330;
  border-color: #bbf330;
}
/* #endregion Advantages */

/* #region Dishes */
.dishes {
  padding: 110px 16px;
}

.dishes-title {
  font-weight: 700;
  font-size: 42px;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.dishes-text {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  margin-bottom: 40px;
}
.dishes-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
.dishes-list-item {
}
.dishes-link {
  display: block;
  border: 16px solid #ffe550;
  border-radius: 50%;
  padding: 25px 23px;
  min-width: 394px;
  min-height: 397px;
}

.dishes-link:hover,
.dishes-link:focus,
.hero-img:hover,
.hero-img:focus {
  border-color: #bbf330;
}

/* #endregion Dishes */

/* #region Reviews */
.reviews {
  background-color: #ffe550;
  padding: 133px 16px;
}

.reviews-title {
  font-weight: 700;
  font-size: 42px;
  margin-bottom: 20px;
}
.reviews-text {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 32px;
}
.reviews-list {
  display: flex;
  gap: 139px;
}

.star-container {
  margin-bottom: 28.56px;
}

.icon-star {
  fill: #ffe550;
}

.reviews-list-item {
  border-radius: 0 30px 30px 30px;
  max-width: 501px;
  background-color: #fefefe;
  padding: 14px 14.28px;
}
.comment {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 40.8px;
}

.person-container {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
}

.person-content {
  position: relative;
  min-width: 94px;
}

.comment-person {
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 2px;
}

.person-content::after {
  content: "";
  border: 1px solid #7eb101;
  width: 52px;
  height: 0px;
  transform: rotate(-90deg);
  position: absolute;
  right: -26px;
  top: 50%;
}

.person-text {
  font-weight: 400;
  font-size: 14px;
}
/* #endregion Reviews */

/* #region Subscribe */
.subscribe {
  padding: 188px 16px;
}
.subscribe .container {
  display: flex;
}

.subscribe-container {
  margin-right: auto;
}

.subscribe-title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.2;
  margin-bottom: 20px;
}
.subscribe-text {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 24px;
}
.subscribe-form {
  display: flex;
}

.subscribe-label {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.subscribe-input {
  border: 0.85px solid #ffe550;
  border-radius: 30px;
  padding: 10px;
  min-width: 395px;
  height: 42px;
  margin-right: 32px;
  outline: transparent;
}

.subscribe-input.valid {
  border-color: #7eb101;
}

.subscribe-input.invalid {
  border-color: #ff705d;
}

.error-container.active {
  display: flex;
  gap: 4px;
  align-items: center;
}

.error-container {
  display: none;
}

.error-message {
  font-weight: 400;
  font-size: 10px;
  color: #ff705d;
}

.subscribe-input:fa .subscribe-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: #505050;
}
.subscribe-btn {
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  border-radius: 30px;
  border: none;
  padding: 11px 22px;
  min-width: 103px;
  height: 42px;
  background-color: #bbf330;
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: #ffe450;
}
/* #endregion Subscribe */

/* #region Footer */
.footer {
  padding: 100px 16px;
  background-image: url(../images/footer.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: auto;
  max-width: 1280px;
  margin: 0 auto;
  box-shadow: 0 -4px 24px 0 rgba(105, 105, 105, 0.1);
}
.footer .container {
  display: flex;
  flex-direction: column;
}

.footer-content {
  display: flex;
  margin-bottom: 80px;
  align-items: center;
}
.footer-container {
  display: flex;
}
.footer-logo-link {
  margin-right: 143px;
}
.footer-menu {
  display: flex;
  gap: 28px;
  margin-right: auto;
}
.menu-item {
}
.menu-link {
  font-weight: 400;
  font-size: 14px;
}
.strong {
  display: block;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 12px;
}
.footer-form {
  display: flex;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.footer-input {
  border: 0.85px solid #ffe550;
  border-radius: 30px;
  padding: 10px;
  min-width: 279px;
  height: 42px;
  margin-bottom: 12px;
  margin-right: 13px;
}

.footer-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: #505050;
}

.footer-label {
  font-weight: 400;
  font-size: 12px;
}
.privacy-policy {
  text-decoration: underline;
  color: #7eb101;
}
.footer-btn {
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  border: 0.85px solid #7eb101;
  border-radius: 30px;
  padding: 10px 20px;
  min-width: 103px;
  height: 42px;
  background-color: #fff;
}

.footer-btn:hover,
.footer-btn:focus {
  border-color: #ffe450;
}
.footer-list {
  display: flex;
  gap: 20px;
  margin-right: auto;
}
.footer-list-item {
}
.footer-link {
  font-weight: 400;
  font-size: 12px;
  text-decoration: underline;
  color: #7eb101;
}
.footer-text {
  font-weight: 400;
  font-size: 12px;
}
/* #endregion Footer */
