body {
  background-color: #fefefe;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  color: #2c2c2c;
  margin: 0;
}

a {
  text-decoration: none;
  font-style: normal;
  color: inherit;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
  max-height: 100%;
}

button {
  padding: 0;
  cursor: pointer;
  font-family: inherit;
  color: inherit;
}

.header {
  box-shadow: 0 4px 24px 0 rgba(105, 105, 105, 0.1);
  background-color: #fefefe;
}

.header .container {
  display: flex;
  align-items: center;
  /* padding: 0 16px; */
}

.container {
  max-width: 1248px;
  margin: 0 auto;
}

.logo-link {
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}
.nav {
  margin-right: 30px;
}
.nav-list {
  display: flex;
  gap: 28px;
  align-items: center;
}

.nav-link {
  font-weight: 400;
  font-size: 14px;
  padding-top: 28px;
  padding-bottom: 28px;
}

.nav-link.current {
  font-weight: 700;
  text-decoration: underline;
  color: #bbf330;
}
.header-btn {
  border-radius: 30px;
  padding: 6px 18px;
  width: 98px;
  height: 32px;
  background-color: #bbf330;
  border: none;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  text-align: right;
}

.hero .container {
  display: flex;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-right: 14px;
}

.hero-content {
  padding: 145px 143px 150px 0;
}

.hero-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.2;
  max-width: 502px;
  text-transform: capitalize;
  margin-bottom: 28px;
}

.hero-text {
  font-weight: 400;
  font-size: 16px;
  max-width: 511px;
  margin-bottom: 40px;
}

.hero-btn {
  border-radius: 30px;
  padding: 6px 18px;
  width: 98px;
  height: 32px;
  background-color: #bbf330;
  border: none;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  text-align: right;
}

.hero-img {
  border-radius: 50%;
  border: 26px solid #ffe550;
  background-color: #fefefe;
}
