body {
  background-color: #fefefe;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  color: #2c2c2c;
  margin: 0;
  min-width: 320px;
}

a {
  text-decoration: none;
  font-style: normal;
  color: inherit;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
  max-height: 100%;
}

button {
  display: block;
  padding: 0;
  cursor: pointer;
  font-family: inherit;
  color: inherit;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

/* #region Header  */
.header {
  box-shadow: 0 4px 24px 0 rgba(105, 105, 105, 0.1);
  background-color: #fefefe;
}

.header .container {
  display: flex;
  align-items: center;
}

.logo-link {
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav {
  display: none;
}

.header-btn {
  display: none;
}

.menu-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  border: none;
  background-color: transparent;
}

.menu-icon {
  fill: #7eb101;
}

.header-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1000;
}

.header-menu.is-open {
  opacity: 1;
  pointer-events: auto;
}

.menu {
  position: absolute;
  top: 0;
  left: 100%;
  width: 170px;
  height: 311px;
  box-shadow: 0 4px 24px 0 rgba(105, 105, 105, 0.1);
  background-color: #bbf330;
  transform: translate(-100%, 0);
  transition: transform 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-list-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 16px;
  width: 130px;
  height: 51px;
}
.menu-link {
  font-size: 16px;
  color: #000;
}
.menu-link.current {
  font-weight: 700;
  color: #2c2c2c;
}

.close-menu-btn {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 7px;
  right: 9px;
}
/* #endregion Header  */

/* #region Hero */

.hero {
  padding-top: 60px;
  padding-bottom: 60px;
}

.hero .container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.hero-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  text-transform: capitalize;
  margin-bottom: 28px;
}

.hero-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
  margin-bottom: 32px;
}

.hero-img {
  display: none;
}

.hero-btn {
  border-radius: 30px;
  padding: 6px 18px;
  min-width: 98px;
  background-color: #bbf330;
  border: none;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  text-align: right;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #ffe450;
}

.arrow {
  display: none;
}
/* #endregion Hero */

/* #region Advantages */
.advantages {
  padding-top: 31px;
  padding-bottom: 66px;
}

.advantages .container {
  display: block;
}

.apple {
  max-height: 309px;
  margin-bottom: 60px;
  max-width: 280px;
  margin-left: auto;
  margin-right: auto;
}

.advantages-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  margin-bottom: 28px;
}
.advantages-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
  margin-bottom: 40px;
}
.advantages-list {
  display: block;
}

.icon-container {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #fefefe;
  margin-bottom: 8px;
}

.icon {
  fill: #7eb101;
}

.list-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  margin-bottom: 16px;
}

.list-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
  margin-bottom: 24px;
}

.list-text.bottom {
  margin-bottom: 28px;
}

.order-btn {
  border: 2px solid #7eb101;
  border-radius: 30px;
  padding: 10px 20px;
  min-width: 106px;
  height: 40px;
  background-color: #fff;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  margin-right: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-btn:hover,
.order-btn:focus {
  background-color: #bbf330;
  border-color: #bbf330;
}

.order-container {
  display: flex;
  align-items: center;
}

.read-more {
  display: flex;
  align-items: center;
  gap: 7.75px;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.5;
  color: #000;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pointer {
  fill: #000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.read-more:hover,
.read-more:focus {
  color: #7eb101;
}

.read-more:hover .pointer,
.read-more:focus .pointer {
  fill: #7eb101;
}
/* #endregion Advantages */

/* #region Dishes */
.dishes {
  padding-top: 66px;
  padding-bottom: 60px;
}

.dishes-title {
  font-weight: 700;
  font-size: 28px;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.dishes-text {
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  margin-bottom: 60px;
}
.dishes-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-height: 886px;
  overflow: auto;
}
.dishes-list-item {
  max-width: 100%;
}

.dishes-link {
  display: block;
  border: 11px solid #ffe550;
  border-radius: 50%;
  padding: 19.1px 18.1px;
  height: 282px;
  width: 280px;
  margin: 0 auto;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.dishes-link:hover,
.dishes-link:focus,
.hero-img:hover,
.hero-img:focus {
  border-color: #bbf330;
}

/* #endregion Dishes */

/* #region Reviews */
.reviews {
  padding-top: 60px;
  padding-bottom: 8px;
}

.reviews-title {
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 20px;
}
.reviews-text {
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 32px;
}
.reviews-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.star-container {
  display: flex;
  gap: 4px;
  margin-bottom: 28px;
}

.icon-star {
  fill: #ffe550;
}

.reviews-list-item {
  border-radius: 0 30px 30px 30px;
  background-color: #fefefe;
  padding: 8px;
}
.comment {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 40px;
}

.person-container {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
}

.person-content {
  position: relative;
  min-width: 94px;
}

.comment-person {
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 2px;
}

.person-content::after {
  content: '';
  border: 1px solid #7eb101;
  width: 52px;
  height: 0px;
  transform: rotate(-90deg);
  position: absolute;
  right: -26px;
  top: 50%;
}

.person-text {
  font-weight: 400;
  font-size: 14px;
}
/* #endregion Reviews */

/* #region Subscribe */
.subscribe {
  padding-top: 8px;
  padding-bottom: 60px;
}

.subscribe .container {
  display: flex;
  flex-direction: column-reverse;
}

.banan {
  max-height: 78px;
  max-width: 161px;
  margin-bottom: 17px;
  margin-right: auto;
  margin-left: auto;
}

.subscribe-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  margin-bottom: 20px;
}
.subscribe-text {
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 40px;
}
.subscribe-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.subscribe-label {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.subscribe-input {
  border: 0.85px solid #ffe550;
  border-radius: 30px;
  padding: 10px;
  min-width: 278px;
  height: 42px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-input:valid,
.footer-input:valid {
  border-color: #7eb101;
}

.subscribe-input:invalid,
.footer-input:invalid {
  border-color: #ff705d;
}

.error-container.active {
  display: flex;
  gap: 4px;
  align-items: center;
}

.subscribe-input:placeholder-shown,
.footer-input:placeholder-shown {
  border-color: #ffe550;
}

.error-container {
  display: none;
}

.error-message {
  font-weight: 400;
  font-size: 10px;
  color: #ff705d;
}

.subscribe-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: #505050;
}
.subscribe-btn {
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  border-radius: 30px;
  border: none;
  padding: 11px 22px;
  min-width: 103px;
  height: 42px;
  background-color: #bbf330;
  margin-left: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: #ffe450;
}
/* #endregion Subscribe */

/* #region Footer */
.footer {
  padding-top: 64px;
  padding-bottom: 60px;
  background-image: url(../images/footer-mob.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1280px;
  margin: 0 auto;
  box-shadow: 0 -4px 24px 0 rgba(105, 105, 105, 0.1);
}

@media (min-resolution: 192dpi) {
  .footer {
    background-image: url(../images/footer-mob@2x.png);
  }
}

.footer .container {
  display: flex;
  flex-direction: column;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  row-gap: 40px;
  column-gap: 60px;
  margin-bottom: 60px;
  align-items: flex-start;
}
.footer-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

.logo-link-desk {
  display: none;
}

.footer-menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.menu-link {
  font-weight: 400;
  font-size: 14px;
}

.strong-container {
  display: flex;
  flex-direction: column;
}

.strong {
  display: block;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 12px;
}
.footer-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 24px;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.footer-input {
  border: 0.85px solid #ffe550;
  border-radius: 30px;
  padding: 10px;
  min-width: 279px;
  height: 42px;
  margin-bottom: 4px;
  margin-right: 13px;
  outline: transparent;
}

.footer-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: #505050;
}

.footer-input:valid {
}

.footer-paragraph {
  font-weight: 400;
  font-size: 10px;
}
.privacy-policy {
  text-decoration: underline;
  color: #7eb101;
}
.footer-btn {
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  border: 0.85px solid #7eb101;
  border-radius: 30px;
  padding: 10px 20px;
  min-width: 103px;
  margin-right: auto;
  height: 42px;
  background-color: #fff;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-btn:hover,
.footer-btn:focus {
  border-color: #ffe450;
}
.footer-list {
  display: flex;
  gap: 32px;
}

.footer-link {
  font-weight: 400;
  font-size: 10px;
  text-decoration: underline;
  color: #7eb101;
}
.footer-text {
  font-weight: 400;
  font-size: 10px;
}
/* #endregion Footer */

/* #region Overlay */
.modal-overflay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  background-color: rgba(94, 99, 99, 0.7);
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overflay.is-open {
  opacity: 1;
  pointer-events: auto;
}

.overflay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 30px;
  max-width: 458px;
  min-height: 449px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.06);
  background-color: #ffe550;
  padding: 32px 20px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn {
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 12px;
  right: 12px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.06);
  background-color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-icon {
  fill: #2c2c2c;
}

.close-btn:hover,
.close-btn:focus {
  background-color: #bbf330;
}
.overlay-text {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 20px;
}
.form {
  margin-bottom: 32px;
}
.overlay-label {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 2px;
  padding-left: 12px;
}
.overlay-input {
  border: 1px solid rgba(18, 18, 18, 0.12);
  border-radius: 30px;
  width: 280px;
  height: 48px;
  box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #fff;
  font-size: 16px;
  line-height: 1.25;
  outline: transparent;
  padding: 14px 12px;
  margin-bottom: 24px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-input:last-child {
  margin-bottom: 0;
}

.overlay-input:hover,
.overlay-input:focus {
  border-color: #7eb101;
}

.overlay-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
}

.overflay-btn {
  border: 2px solid #7eb101;
  border-radius: 30px;
  padding: 10px 20px;
  width: 106px;
  height: 40px;
  background-color: #fff;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overflay-btn:hover,
.overflay-btn:focus {
  background-color: #bbf330;
}
/* #endregion Overlay */

@media screen and (min-width: 768px) {
  .container {
    padding: 0 32px;
  }
  /* #region Header  */

  .nav {
    display: block;
    margin-right: 30px;
  }
  .nav-list {
    display: flex;
    gap: 28px;
    align-items: center;
  }

  .nav-link {
    display: block;
    font-weight: 400;
    font-size: 14px;
    padding-top: 28px;
    padding-bottom: 28px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      font-weight 250ms cubic-bezier(0.4, 0, 0.2, 1),
      text-decoration 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link:focus,
  .nav-link:hover,
  .nav-link.current {
    font-weight: 700;
    text-decoration: underline;
    color: #bbf330;
  }
  .header-btn {
    display: block;
    border-radius: 30px;
    padding: 6px 18px;
    min-width: 98px;
    background-color: #bbf330;
    border: none;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.5;
    text-align: right;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-btn:hover,
  .header-btn:focus {
    background-color: #ffe450;
  }

  .menu-btn {
    display: none;
  }
  /* #endregion Header  */

  /* #region Hero */

  .hero {
    padding-top: 60px;
    padding-bottom: 21px;
  }

  .hero .container {
    align-items: self-end;
  }

  .hero-content {
    width: 537px;
    margin-bottom: 73px;
    margin-right: auto;
  }

  .hero-title {
    font-size: 42px;
  }

  .hero-text {
    font-size: 16px;
    line-height: 1.5;
    max-width: 336px;
    margin-bottom: 40px;
  }

  .hero-img {
    display: block;
    border-radius: 50%;
    border: 14px solid #ffe550;
    background-color: #fefefe;
    max-width: 320px;
    max-height: 320px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .slider {
    position: relative;
    margin-left: -161px;
  }

  .img-container {
    width: 320px;
    height: 320px;
    display: flex;
    gap: 50px;
    overflow: hidden;
  }

  .arrow {
    display: block;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.06);
    width: 34px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .left-btn {
    left: -8px;
  }

  .right-btn {
    right: -8px;
  }

  .arrow:active {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.16);
  }
  .icon-arrow {
    fill: #2c2c2c;
  }

  .arrow:hover .icon-arrow,
  .arrow:focus .icon-arrow {
    fill: #7eb101;
  }

  /* #endregion Hero */

  /* #region Advantages */
  .advantages {
    padding-top: 21px;
    padding-bottom: 96px;
  }

  .apple {
    max-height: 394px;
    margin-right: 90px;
    max-width: 357px;
    margin-left: 0;
  }

  .advantages-content {
    max-width: 573px;
  }

  .advantages-title {
    font-size: 42px;
    margin-bottom: 20px;
  }

  .advantages-text {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 25px;
    max-width: 500px;
  }
  .advantages-list {
    display: flex;
    gap: 80px;
    margin-bottom: 40px;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .advantages-list-item {
    width: calc((100% - 80px) / 2);
  }

  .list-text {
    margin-bottom: 0;
  }

  .list-text.bottom {
    margin-bottom: 0;
  }
  /* #endregion Advantages */

  /* #region Dishes */
  .dishes {
    padding-top: 96px;
    padding-bottom: 80px;
  }

  .dishes-title {
    font-size: 42px;
  }

  .dishes-text {
    font-size: 16px;
  }

  .dishes-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
    max-height: 100%;
  }
  .dishes-list-item {
    width: calc((100% - 32px) / 2);
  }
  .dishes-link {
    border-width: 14px;
    padding: 21px 20px;
    min-height: 338px;
    min-width: 336px;
  }

  /* #endregion Dishes */

  /* #region Reviews */
  .reviews {
    padding-top: 60px;
    padding-bottom: 23px;
  }

  .reviews-title {
    font-size: 42px;
  }

  .reviews-text {
    font-size: 16px;
  }
  .reviews-list {
    flex-direction: row;
    gap: 44px;
  }

  .reviews-list-item {
    width: calc((100% - 44px) / 2);
    padding: 12px;
  }

  .comment {
    font-size: 18px;
  }

  /* #endregion Reviews */

  /* #region Subscribe */
  .subscribe {
    padding-top: 23px;
    padding-bottom: 100px;
  }

  .subscribe-container {
    margin-right: auto;
  }

  .banan {
    max-height: 136px;
    max-width: 281px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: 0;
  }

  .subscribe-title {
    font-size: 42px;
  }
  .subscribe-text {
    font-size: 16px;
    margin-bottom: 24px;
    max-width: 532px;
  }
  .subscribe-form {
    flex-direction: row;
    gap: 0;
  }

  .subscribe-label {
    flex-direction: column;
    gap: 4px;
  }

  .subscribe-input {
    min-width: 395px;
    margin-right: 22px;
  }

  .subscribe-btn {
    margin-left: 0;
  }

  /* #endregion Subscribe */

  /* #region Footer */
  .footer {
    padding-top: 118px;
    padding-bottom: 100px;
    background-image: url(../images/footer-tab.png);
    background-position: bottom;
    background-size: cover;
  }

  @media (min-resolution: 192dpi) {
    .footer {
      background-image: url(../images/footer-tab@2x.png);
    }
  }

  .footer-content {
    margin-bottom: 100px;
    align-items: center;
    justify-content: flex-start;
    column-gap: 0;
  }
  .footer-container {
    flex-direction: row;
    gap: 0;
  }
  .footer-logo-link {
    margin-right: 114px;
  }

  .footer-menu {
    flex-direction: row;
    gap: 28px;
    margin-right: auto;
  }

  .strong-container {
    gap: 12px;
  }

  .strong {
    margin-bottom: 0;
  }
  .footer-form {
    flex-direction: row;
    gap: 0;
    margin-bottom: 0;
  }

  .footer-paragraph {
    font-size: 12px;
  }

  .footer-btn {
    margin-right: 0;
  }

  .footer-list {
    gap: 20px;
    margin-right: auto;
  }

  .footer-link {
    font-size: 12px;
  }
  .footer-text {
    font-size: 12px;
  }
  /* #endregion Footer */

  .overflay {
    padding: 32px 32px;
  }

  .overlay-input {
    width: 394px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    padding: 0 16px;
  }

  /* #region Hero */

  .hero {
    padding-top: 14px;
    padding-bottom: 69px;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
  }

  .hero .container {
    align-items: center;
  }

  .hero-content {
    width: 502px;
    margin-bottom: 0;
  }

  .hero-title {
    font-size: 48px;
  }

  .hero-text {
    max-width: 511px;
  }

  .hero-img {
    border-width: 26px;
    max-width: 100%;
    max-height: 100%;
  }

  .slider {
    margin-left: 0;
    margin-right: 14px;
  }

  .img-container {
    width: 580px;
    height: 580px;
  }

  .arrow {
    scale: 2;
  }

  /* #endregion Hero */

  /* #region Advantages */
  .advantages {
    background-color: #ffe550;
    padding: 118px 0;
  }

  .advantages .container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .apple {
    max-height: 100%;
    max-width: 100%;
  }

  .advantages-text {
    margin-bottom: 40px;
  }

  .advantages-list {
    gap: 67px;
    margin-bottom: 27px;
  }

  .advantages-list-item {
    width: calc((100% - 67px) / 2);
  }

  .list-text {
    line-height: 1.5;
  }

  .list-text.bottom {
    margin-bottom: 0;
  }
  /* #endregion Advantages */

  /* #region Dishes */
  .dishes {
    padding: 110px 0;
  }

  .dishes-text {
    margin-bottom: 40px;
  }

  .dishes-list-item {
    width: calc((100% - 64px) / 3);
  }

  .dishes-link {
    border-width: 16px;
    padding: 25px 23px;
    min-height: 397px;
    min-width: 100%;
  }

  /* #endregion Dishes */

  /* #region Reviews */
  .reviews {
    background-color: #ffe550;
    padding: 133px 0;
  }

  .reviews-list {
    gap: 139px;
  }

  .reviews-list-item {
    max-width: 501px;
    padding: 14px;
  }

  /* #endregion Reviews */

  /* #region Subscribe */
  .subscribe {
    padding: 188px 0;
  }
  .subscribe .container {
    flex-direction: row;
  }

  .subscribe-container {
    margin-right: auto;
  }

  .banan {
    max-height: 100%;
    max-width: 100%;
    margin: 0;
  }

  .subscribe-input {
    margin-right: 32px;
  }

  /* #endregion Subscribe */

  /* #region Footer */
  .footer {
    padding: 100px 0;
    background-image: url(../images/footer.png);
    background-position: bottom right;
    background-size: auto;
  }

  @media (min-resolution: 192dpi) {
    .footer {
      background-image: url(../images/footer@2x.png);
    }
  }

  .footer-content {
    margin-bottom: 80px;
  }

  .footer-logo-link {
    display: none;
  }

  .logo-link-desk {
    display: block;
    margin-right: 143px;
  }
  /* #endregion Footer */
}
